# N'applique pas les hooks pour les fichiers tests
exclude: ^test/cram/.*\.t$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
